body {
    margin-left: 1cm;
    font-family: sans-serif;
    background-color: rgb(5, 5, 5);
    color: white;
}
/*-------------------------------------------------------------------------------------------------------------------*/
.encabezado {
    color: rgb(248, 152, 152);
    text-align: center;

}
/*-------------------------------------------------------------------------------------------------------------------*/
.cuerpo {
    text-align: left;
    color: rgb(248, 246, 246);

}

/*-------------------------------------------------------------------------------------------------------------------*/

.boton1 {
    text-align: center;
	background-color:rgb(5, 5, 5);
	border-radius:15px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	
}
.boton1:hover {
	background-color:#474747;
}
.boton1:active {
	position:relative;
	top:1px;
}
/*-------------------------------------------------------------------------------------------------------------------*/
.boton2 {
    text-align: center;
	background-color:rgb(5, 5, 5);
	border-radius:15px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	
}
.boton2:hover {
	background-color:#474747;
}
.boton2:active {
	position:relative;
	top:1px;
}
/*-------------------------------------------------------------------------------------------------------------------*/
.boton3 {
    text-align: center;
	background-color:rgb(5, 5, 5);
	border-radius:15px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	
}
.boton3:hover {
	background-color:#474747;
}
.boton3:active {
	position:relative;
	top:1px;
}
/*-------------------------------------------------------------------------------------------------------------------*/
.boton4 {
    text-align: center;
	background-color:rgb(5, 5, 5);
	border-radius:15px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	
}
.boton4:hover {
	background-color:#474747;
}
.boton4:active {
	position:relative;
	top:1px;
}
/*-------------------------------------------------------------------------------------------------------------------*/
.boton5 {
    text-align: center;
	background-color:rgb(5, 5, 5);
	border-radius:15px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	
}
.boton5:hover {
	background-color:#474747;
}
.boton5:active {
	position:relative;
	top:1px;
}
/*-------------------------------------------------------------------------------------------------------------------*/

.finlandia {

    text-align: center;

}

.Butan {

    text-align: center;

}

.Imagen {

float: right;

}